.DS_Store
*.bbl
*.aux
*.out
*.log
*.swp
*.blg
*.dvi
*.fls
*.lof
*.fdb_latexmk
*.toc
*.gz
*.lof
*.lot
main.pdf
eUniQ_cross-section-eps-converted-to.pdf
learning-curve-eps-converted-to.pdf
learning-zigzag-eps-converted-to.pdf
UniQ_std_cross-section-eps-converted-to.pdf